$font-text:'Hahmlet', sans-serif;
$font-header:'Playfair Display', sans-serif;

body {
    padding: 0;
    margin: 0;
    overflow-x:hidden;
}
/* navigation */
.navigation {
    background-image: url(https://images.pexels.com/photos/2261477/pexels-photo-2261477.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    height: 100vh;
    background-size: cover;
}
.navigation ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: right;
        font-family: $font-text;
}
.navigation li {
    display: inline-block;
    margin: 10px;
    position: relative;
}
.navigation a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}   

.splash {    
    color: white;
    min-height: 500px;
    display: flex;
}
.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.page-title {
    margin: 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    font-family: $font-header; 
}
.page-subtitle {
    margin: 10px;
    font-weight: 400;
    font-size: 100px;
    text-align: center;
}
.page-subtitle span {
    font-weight: 800;
    font-family: Verdana;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 30px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
}
.btn-one {
    border-color: gold;
    color: gold;
    background-image: linear-gradient(90deg, gold 50%, transparent 50%);
    background: gold;
    margin-left: 45%;
}
/* services */
.wrap-container {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

.services-list-container {
    padding-top: 150px;
    padding-right: 20px;
}

.services-list { list-style: none;
}
  
.services-list-item {
    display: inline-block;
    background-color:white;
    border-radius: 50%;
    border-color: gold;
    border-style: solid;
}
      
.services-list-item-link {
    color: gold;
    display: table-cell;
    vertical-align: middle; 
    text-align: center;
    text-decoration: none;
    height: 80px;
    width: 80px;   
}

/* portfolio */
.portfolio {
    background: rgb(243, 241, 241);
}
.container-parent {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

/* footer */
.footer {
    background: white;
    text-align: center;
}
.footer li {
    display: inline;
}
.footer ul li a {
    font-size: 0;
}
.footer i {
    font-size: 30px;   
    color: blue;
    width: 80px;
    height: 80px;
}
.adress {
    color: black;
}

.portfolio-img {
    width: 100%;
    height: 450px;
}

.portfolio-title {
    background-color: white;
    width: 100%;
    height: 140px;
}

.title {
    text-align: center;
    font-size: 30px;
    font-family: $font-text;
    margin: auto;
}
.title span {
    font-weight: 800;
    font-family: Verdana;
}
.subtitle {
    color: grey;
    font-weight: 200;
    margin: 0;
    font-size: 25px;
}
.style {
    padding-top: 150px;
}